/* Utility */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

.gap {
  gap: 10px;
}

.big-gap {
  gap: 24px;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-content: center;
}

.separator {
  background: #a78bfa;
  height: 5rem;
  width: 1px;
  margin: 0 10px 0 10px;
}

.btn {
  background: #8b5cf6;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 28px;
  cursor: pointer;
}
.btn:hover {
  background: hsl(263, 70%, 50%);
}
.btn:active {
  background: hsl(251, 95%, 92%);
}

.marging-top--big {
  margin-top: 72px;
}

.marging-top--normal {
  margin-top: 24px;
}

.marging-top {
  margin-top: 12px;
}

.marging-top--small {
  margin-top: 4px;
}

/* Fonts */
.text-XXL {
  font-weight: 900;
  font-size: 36px;
}

.text-XL {
  font-size: 24px;
  font-weight: 300;
}

.text-normal {
  font-size: 16px;
  font-weight: 400;
}

.text-sm {
  font-size: 14px;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.center-text {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans";
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #e5e7eb;
}
body .main {
  padding: 24px 192px;
}

/* Header */
header {
  padding: 24px 192px;
  background: #fff;
}
header .header-top {
  align-items: center;
  justify-content: space-between;
  text-align: right;
}
header .botom-header {
  justify-content: space-between;
  align-items: center;
}
header a {
  color: black;
}
header a:hover {
  color: #8b5cf6;
}
header a:active {
  color: #8b5cf6;
  border-bottom: 1px dashed #8b5cf6;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.hero .grid-element img {
  margin-top: 16px;
}
.hero .grid-element p {
  margin-top: 12px;
}
.hero .grid-element--form {
  padding: 24px 130px;
  background: #fff;
  border-radius: 5px;
}
.hero .grid-element--form p {
  margin-top: 16px;
}
.hero input {
  flex-grow: 1;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 12px;
}

/* Icons */
.icons-flex {
  gap: 24px;
}
.icons-flex .flex {
  align-items: center;
  gap: 24px;
}
.icons-flex .flex .flex {
  width: 496px;
  padding: 24px;
  gap: 12px;
}
.icons-flex .flex .flex p {
  max-width: 270px;
}

/* Garants */
.garants p {
  width: 656px;
  justify-self: center;
  line-height: 24px;
}
.garants .garants-selector {
  gap: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.garants .btn {
  padding: 16px 24px;
}